<configuration>
    <system.webServer>
        <staticContent>
            <!-- Unity 5.6 -->
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".unityweb" mimeType="application/binary" />

            <!-- Unity 5.x -->
            <mimeMap fileExtension=".data" mimeType="application/binary" />
            <mimeMap fileExtension=".mem" mimeType="application/binary" />

            <!-- Unity 5.3 -->
            <mimeMap fileExtension=".datagz" mimeType="application/binary" />
            <mimeMap fileExtension=".jsgz" mimeType="application/binary" />
            <mimeMap fileExtension=".memgz" mimeType="application/binary" />
        </staticContent>
    </system.webServer>
</configuration>
